<!-- app/templates/home/slideshow.html -->

{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block body %}
<div class="intro-header2">
    <img class="pics" src="{{ url_for('static', filename='img/addi.jpg') }}">
    <img class="pics" src="{{ url_for('static', filename='img/tommylee.jpg') }}">
    <img class="pics" src="{{ url_for('static', filename='img/Sparta.png') }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Admin Dashboard</h1>
                    <h3 style="color: red;">For administrators only!</h3>
                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
